In [65]:
from selenium.webdriver import Chrome
import time

In [66]:
# !conda install -c conda-forge selenium

In [67]:
browser = Chrome(executable_path='C:/Users/DEBADRITO/Desktop/Term 3/TEXT ANALYTICS/chromedriver.exe') # Make sure that the geckodriver (or chromedriver for Google Chrome) is available in your system

In [68]:
browser.get('https://www.makaan.com/kolkata/kolkata-south-property-10038?page=1')

In [69]:
#len(containers)

In [70]:
from bs4 import BeautifulSoup

In [71]:
containers_1 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//div[@class='title-line-wrap']")]
BHK = {'BHK' : []}

for container in containers_1:
    doc = BeautifulSoup(container)
    
    try:
        bhk = int(doc.find('span', attrs={'class':'val'}).text)
    
    except:
        bhk = None
        
    BHK['BHK'].append(bhk)

In [72]:
BHK

{'BHK': [2, 3, 4, 2, 3, 3, 2, 2, 3, 5, 2, 3, 2, 2, 2, 2, 3, 2, 8, 2]}

In [73]:
containers_2 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//a[@class='loclink']")]
                 
LOCATION = {'Location' : []}
    
for container in containers_2:
    doc = BeautifulSoup(container)
    
    try:
        loc = doc.find('span', attrs={'itemprop':'addressLocality'}).text
    
    except:
        loc = None
        
    LOCATION['Location'].append(loc)

In [74]:
LOCATION

{'Location': ['Maheshtala',
  'Picnic Garden',
  'Sonarpur',
  'Joka',
  'Narendrapur',
  'Garia',
  'Sonarpur',
  'Sonarpur',
  'Behala',
  'Nimta',
  'Baghajatin',
  'Garia',
  'Santoshpur',
  'Bata Nagar',
  'Regent Park',
  'Haltu',
  'Narendrapur',
  'Maheshtala',
  'Ballygunge',
  'Ballygunge']}

In [75]:
containers_3 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]
PRICE = {'PRICE' : []}                 
for container in containers_3:
    doc = BeautifulSoup(container)
    
    try:
        price = float(doc.find('span', attrs={'class':'val'}).text)
    
    except:
        price = None
        
    PRICE['PRICE'].append(price)

In [76]:
PRICE

{'PRICE': [23.9,
  72.37,
  86.0,
  55.0,
  42.76,
  93.63,
  31.78,
  32.5,
  58.31,
  70.0,
  19.0,
  40.0,
  55.0,
  26.0,
  21.0,
  46.0,
  43.0,
  28.0,
  5.0,
  65.0]}

In [77]:
containers_4 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]
PRICE_UNIT = {'PRICE_UNIT' : []}                 
for container in containers_4:
    doc = BeautifulSoup(container)
    
    try:
        price_unit = doc.find('span', attrs={'class':'unit'}).text
    
    except:
        price_unit = None
        
    PRICE_UNIT['PRICE_UNIT'].append(price_unit)

In [78]:
PRICE_UNIT

{'PRICE_UNIT': [' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' Cr',
  ' L']}

In [79]:
import pandas as pd

In [80]:


def parse(full_url):
##########################################################################################################################    
    containers_1 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//div[@class='title-line-wrap']")]
    BHK = []

    for container in containers_1:
        doc = BeautifulSoup(container)
    
        try:
            bhk = int(doc.find('span', attrs={'class':'val'}).text)
    
        except:
            bhk = None
        
        BHK.append(bhk)

#########################################################################################################################    
    containers_2 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//a[@class='loclink']")]
                 
    LOCATION = []
    
    for container in containers_2:
            doc = BeautifulSoup(container)
    
            try:
                 loc = doc.find('span', attrs={'itemprop':'addressLocality'}).text
    
            except:
                 loc = None
        
            LOCATION.append(loc)

########################################################################################################################    
    containers_3 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]

    PRICE = []    

    for container in containers_3:
            doc = BeautifulSoup(container)
    
            try:
                  price = float(doc.find('span', attrs={'class':'val'}).text)
    
            except:
                  price = None
        
            PRICE.append(price)  

##########################################################################################################################                 
        
    containers_4 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]

    PRICE_UNIT = []

    for container in containers_4:
            doc = BeautifulSoup(container)
    
            try:
                price_unit = doc.find('span', attrs={'class':'unit'}).text
    
            except:
                price_unit = None
        
            PRICE_UNIT.append(price_unit)  

    df = pd.DataFrame({'BHK' : BHK,
                                'LOCATION' : LOCATION,
                                'PRICE' : PRICE,
                            'PRICE_UNIT' : PRICE_UNIT })
    return df

In [81]:
# Trying for one page only

parse('https://www.makaan.com/kolkata/kolkata-south-property-10038?page=1')

    BHK       LOCATION  PRICE PRICE_UNIT
0     2     Maheshtala  23.90          L
1     3  Picnic Garden  72.37          L
2     4       Sonarpur  86.00          L
3     2           Joka  55.00          L
4     3    Narendrapur  42.76          L
5     3          Garia  93.63          L
6     2       Sonarpur  31.78          L
7     2       Sonarpur  32.50          L
8     3         Behala  58.31          L
9     5          Nimta  70.00          L
10    2     Baghajatin  19.00          L
11    3          Garia  40.00          L
12    2     Santoshpur  55.00          L
13    2     Bata Nagar  26.00          L
14    2    Regent Park  21.00          L
15    2          Haltu  46.00          L
16    3    Narendrapur  43.00          L
17    2     Maheshtala  28.00          L
18    8     Ballygunge   5.00         Cr
19    2     Ballygunge  65.00          L

In [82]:
base_url = 'https://www.makaan.com/kolkata/kolkata-south-property-10038?page='


Real_Estate_Property_Information =pd.DataFrame(columns=['BHK',
                                'LOCATION' ,
                                'PRICE' ,
                                'PRICE_UNIT'])



pg_num = 1
# Adjusting to get the number of reviews accordingly

while pg_num <= 50:  
    
    get_url = base_url + str(pg_num)
        
    partial_reviews_df = parse(get_url)   
    Real_Estate_Property_Information = Real_Estate_Property_Information.append(
                     partial_reviews_df, ignore_index=True) 
    
    pg_num += 1
    #time.sleep(4)

In [83]:
Real_Estate_Property_Information

    BHK       LOCATION  PRICE PRICE_UNIT
0     2     Maheshtala  23.90          L
1     3  Picnic Garden  72.37          L
2     4       Sonarpur  86.00          L
3     2           Joka  55.00          L
4     3    Narendrapur  42.76          L
..   ..            ...    ...        ...
995   2          Haltu  46.00          L
996   3    Narendrapur  43.00          L
997   2     Maheshtala  28.00          L
998   8     Ballygunge   5.00         Cr
999   2     Ballygunge  65.00          L

[1000 rows x 4 columns]

#### We have created an extra Column "PRICE_UNIT " to capture the Value of the PRICE (If it is in Lacks-L or Crores-Cr)

In [84]:
Real_Estate_Property_Information.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BHK         1000 non-null   object
 1   LOCATION    1000 non-null   object
 2   PRICE       1000 non-null   float64
 3   PRICE_UNIT  1000 non-null   object
dtypes: float64(1), object(3)
memory usage: 31.4+ KB

In [85]:
# Data Set wit First 200 Properties

In [86]:
Real_Estate_Property_Information_200=Real_Estate_Property_Information.head(200)

In [87]:
Real_Estate_Property_Information_200

    BHK       LOCATION  PRICE PRICE_UNIT
0     2     Maheshtala  23.90          L
1     3  Picnic Garden  72.37          L
2     4       Sonarpur  86.00          L
3     2           Joka  55.00          L
4     3    Narendrapur  42.76          L
..   ..            ...    ...        ...
195   2          Haltu  46.00          L
196   3    Narendrapur  43.00          L
197   2     Maheshtala  28.00          L
198   8     Ballygunge   5.00         Cr
199   2     Ballygunge  65.00          L

[200 rows x 4 columns]

###### Source Text Analytics Class IPNYB FILE REFERENCE