In [244]:
from selenium.webdriver import Chrome
import time

In [245]:
# !conda install -c conda-forge selenium

In [246]:
browser = Chrome(executable_path='C:/Users/DEBADRITO/Desktop/Term 3/TEXT ANALYTICS/chromedriver.exe') # Make sure that the geckodriver (or chromedriver for Google Chrome) is available in your system

In [247]:
browser.get('https://www.makaan.com/kolkata/kolkata-south-property-10038?page=1')

In [248]:
len(containers)

20

In [249]:
from bs4 import BeautifulSoup

In [250]:
containers_1 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//div[@class='title-line-wrap']")]
BHK = {'BHK' : []}

for container in containers_1:
    doc = BeautifulSoup(container)
    
    try:
        bhk = int(doc.find('span', attrs={'class':'val'}).text)
    
    except:
        bhk = None
        
    BHK['BHK'].append(bhk)

In [251]:
BHK

{'BHK': [4, 2, 4, 3, 2, 2, 3, 3, 5, 2, 2, 3, 2, 2, 2, 3, 2, 8, 2, None]}

In [252]:
containers_2 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//a[@class='loclink']")]
                 
LOCATION = {'Location' : []}
    
for container in containers_2:
    doc = BeautifulSoup(container)
    
    try:
        loc = doc.find('span', attrs={'itemprop':'addressLocality'}).text
    
    except:
        loc = None
        
    LOCATION['Location'].append(loc)

In [253]:
LOCATION

{'Location': ['Sonarpur',
  'Joka',
  'Tollygunge',
  'Narendrapur',
  'Garia',
  'Sonarpur',
  'Sonarpur',
  'Behala',
  'Nimta',
  'Baghajatin',
  'Santoshpur',
  'Garia',
  'Regent Park',
  'Haltu',
  'Bata Nagar',
  'Narendrapur',
  'Maheshtala',
  'Ballygunge',
  'Ballygunge',
  'Golf Green']}

In [254]:
containers_3 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]
PRICE = {'PRICE' : []}                 
for container in containers_3:
    doc = BeautifulSoup(container)
    
    try:
        price = float(doc.find('span', attrs={'class':'val'}).text)
    
    except:
        price = None
        
    PRICE['PRICE'].append(price)

In [255]:
PRICE

{'PRICE': [95.0,
  55.0,
  1.82,
  42.76,
  70.58,
  31.78,
  54.14,
  58.31,
  70.0,
  19.0,
  55.0,
  40.0,
  21.0,
  46.0,
  26.0,
  43.0,
  28.0,
  5.0,
  65.0,
  96.0]}

In [256]:
containers_4 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]
PRICE_UNIT = {'PRICE_UNIT' : []}                 
for container in containers_4:
    doc = BeautifulSoup(container)
    
    try:
        price_unit = doc.find('span', attrs={'class':'unit'}).text
    
    except:
        price_unit = None
        
    PRICE_UNIT['PRICE_UNIT'].append(price_unit)

In [257]:
PRICE_UNIT

{'PRICE_UNIT': [' L',
  ' L',
  ' Cr',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' L',
  ' Cr',
  ' L',
  ' L']}

In [292]:
def parse(full_url):
##########################################################################################################################    
    containers_1 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//div[@class='title-line-wrap']")]
    BHK = []

    for container in containers_1:
        doc = BeautifulSoup(container)
    
        try:
            bhk = int(doc.find('span', attrs={'class':'val'}).text)
    
        except:
            bhk = None
        
        BHK.append(bhk)

#########################################################################################################################    
    containers_2 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//a[@class='loclink']")]
                 
    LOCATION = []
    
    for container in containers_2:
            doc = BeautifulSoup(container)
    
            try:
                 loc = doc.find('span', attrs={'itemprop':'addressLocality'}).text
    
            except:
                 loc = None
        
            LOCATION.append(loc)

########################################################################################################################    
    containers_3 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]

    PRICE = []    

    for container in containers_3:
            doc = BeautifulSoup(container)
    
            try:
                  price = float(doc.find('span', attrs={'class':'val'}).text)
    
            except:
                  price = None
        
            PRICE.append(price)  

##########################################################################################################################                 
        
    containers_4 = [x.get_attribute('innerHTML') for x in browser.find_elements_by_xpath("//td[@class='price']")]

    PRICE_UNIT = []

    for container in containers_4:
            doc = BeautifulSoup(container)
    
            try:
                price_unit = doc.find('span', attrs={'class':'unit'}).text
    
            except:
                price_unit = None
        
            PRICE_UNIT.append(price_unit)  

    df = pd.DataFrame({'BHK' : BHK,
                                'LOCATION' : LOCATION,
                                'PRICE' : PRICE,
                            'PRICE_UNIT' : PRICE_UNIT })
    return df

In [297]:
base_url = 'https://www.makaan.com/kolkata/kolkata-south-property-10038?page='



Real_Estate_Property_Information =pd.DataFrame({'BHK' : BHK,
                                'LOCATION' : LOCATION,
                                'PRICE' : PRICE,
                            'PRICE_UNIT' : PRICE_UNIT })



pg_num = 1
# Adjusting to get the number of reviews accordingly

while pg_num <= 50:  
    
    get_url = base_url + str(pg_num)
        
    partial_reviews_df = parse(get_url)   
    Real_Estate_Property_Information = Real_Estate_Property_Information.append(
                     partial_reviews_df, ignore_index=True) 
    
    pg_num += 1
    #time.sleep(4)

In [298]:
Real_Estate_Property_Information

      BHK     LOCATION  PRICE PRICE_UNIT
0     4.0     Sonarpur  95.00          L
1     2.0         Joka  55.00          L
2     4.0   Tollygunge   1.82         Cr
3     3.0  Narendrapur  42.76          L
4     2.0        Garia  70.58          L
...   ...          ...    ...        ...
1015  3.0  Narendrapur  43.00          L
1016  2.0   Maheshtala  28.00          L
1017  8.0   Ballygunge   5.00         Cr
1018  2.0   Ballygunge  65.00          L
1019  NaN   Golf Green  96.00          L

[1020 rows x 4 columns]

#### We have created an extra Column "PRICE_UNIT " to capture the Value of the PRICE (If it is in Lacks-L or Crores-Cr)

In [295]:
all_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BHK         969 non-null    float64
 1   LOCATION    1020 non-null   object
 2   PRICE       1020 non-null   float64
 3   PRICE_UNIT  1020 non-null   object
dtypes: float64(2), object(2)
memory usage: 32.0+ KB

In [ ]:
# Data Set wit First 200 Properties

In [299]:
Real_Estate_Property_Information_200=Real_Estate_Property_Information.head(200)

In [301]:
Real_Estate_Property_Information_200

     BHK     LOCATION  PRICE PRICE_UNIT
0    4.0     Sonarpur  95.00          L
1    2.0         Joka  55.00          L
2    4.0   Tollygunge   1.82         Cr
3    3.0  Narendrapur  42.76          L
4    2.0        Garia  70.58          L
..   ...          ...    ...        ...
195  3.0  Narendrapur  43.00          L
196  2.0   Maheshtala  28.00          L
197  8.0   Ballygunge   5.00         Cr
198  2.0   Ballygunge  65.00          L
199  NaN   Golf Green  96.00          L

[200 rows x 4 columns]